

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

.banner{
    position: relative;
    min-height: 80vh;
    background: black;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;

}

section{
    padding: 50px;
}

.banner h2{
    font-size: 1.5em;
    color: blanchedalmond;
    font-weight: 600;
    line-height: 2em;
}

.banner h2 span{
    font-weight: 700;
    color: cadetblue;
    font-size: 2em;
}

.banner h3{
    font-size: 1em;
    color: wheat;
    font-weight: 600;
    line-height: 1.5em;
}



.banner a:hover{
 
    opacity: 0.8;
    font-size: larger;
    color:teal;
    font-weight: 600;
    text-decoration: underline;
   
}



.heading{
    display: block;
    background-color: cadetblue;
    padding: 15px 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
  
}



img{
    max-width: 100%;
}

.dark-mode {
    background-color: black;
    color: white;
  }

  button{
      cursor: pointer;
      border-radius: 20px;
      padding: 20px;
      margin: 10px;
  }
